@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin:0;
}

body{
    background-color: var(--color-primario);
    color: var(--color-secundario);
    height: 100vh;
    box-sizing: border-box;
}

.titulo-destaque {
    color: var(--color-terciario); ;
}

.presentacion {
    display: flex;
    align-items: center;
    margin: 5%;
    justify-content: space-between;    
}

.presentacion__contenido{
    width: 615px;
}

.presentacion__contenido_titulo{
    font-size: 36px;
    font-family: "Krona One", serif;
}

.presentacion__contenido__texto{
    font-size: 24px;
    font-family: "Montserrat", serif;
}

.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
}